/* screen sizes less than 993px */
@media (max-width: 992px) {
    .img-loading-src {
        width: 250%;
        height: 250%;
    }
}

/* screen sizes larger than 993px */
@media (min-width: 993px) {
    .img-loading-src {
        width: 25%;
        height: 25%;
    }
}