{% extends 'execserver/admin_base.html' %}
{% block header %}
    <title>Admin Home</title>
{% endblock %}
{% block body %}
    {% load static %}
    <script src="{% static "js/settings.js" %}"></script>
    <<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
        <div class="container">
            {% load static %}
            <a class="navbar-brand js-scroll-trigger" style="font-size: 36px" href="/admin/home"><img
                    src="{% static 'img/logo.png' %}" width="125px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/admin/settings">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="display: flex; margin-top: 10px;">
        <div class="col-xl-2 col-lg-5" style="float: right">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Export Data</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="display: flex;">
                        <div class="btn-group" role="group" aria-label="export group" style="margin: 5px">
                            <button type="button" style="font-size: 24px" class="btn btn-secondary">.csv</button>
                            <button type="button" style="font-size: 24px" class="btn btn-secondary">.xslf</button>
                        </div>
                        <div style="float: right; margin: 5px">
                            <button type="button" style="font-size: 24px" class="btn btn-success">Export</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-5" style="float: right">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Reset</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div style="margin: 5px; align-content: center; justify-content: center; display: flex">
                        <button type="button" style="font-size: 24px; align-items: center" class="btn btn-danger"
                                onclick="showResetDatabaseModal()">Reset Database
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal fade" id="reset-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div id="create-account-modal-content" class="modal-content">
                <div class="modal-header">
                    <h4 style="float: left" class="modal-title" id="myModalLabel">Reset Database?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <h6 style="align-items: center" id="reset-model-text">This WILL erase all data from Firebase and the SQL database! Admin accounts will be unaffected. Are you sure you want to continue?</h6>
                    </div>
                    <button type="button" class="btn btn-danger btn-user btn-block" onclick="sendRestDatabasePost()">
                        Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}