{% extends 'execserver/admin_base.html' %}
{% block header %}
    <title>Home</title>
{% endblock %}
{% block body %}
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-size: 36px" href="/admin/home">GameSuite Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/admin/hashtags">Hashtags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/admin/location">Location Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/admin/setttings">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6" style="margin: auto; width: 50%">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Admin!</h1>
                                    </div>
                                    <form method="POST" enctype= multipart/form-data>
                                        {% csrf_token %}
                                        <div style="padding: 10px">
                                            <input type="text" class="form-control form-control-user"
                                                  autofocus required id="id_username" name="username"
                                                   placeholder="Enter username">
                                        </div>
                                         <div style="padding: 10px">
                                            <input type="password" class="form-control form-control-user"
                                                   autofocus required id="id_password" name="password" placeholder="Enter password">
                                         </div>
                                        <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}