{% extends 'execserver/admin_base.html' %}
{% block header %}
    <title>Admin Home</title>
{% endblock %}
{% block body %}
     {% load static %}
    <script src="{% static "js/pie-chart.js" %}"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-size: 36px" href="/admin/home">GameSuite Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/admin/hashtags">Hashtags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/admin/location">Location
                            Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/admin/settings">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="col-xl-3 col-lg-5" style="margin-top: 10px">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">User Auth Method</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="myPieChart" width="760" height="367" class="chartjs-render-monitor"
                                style="display: block; height: 245px; width: 507px;"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                    <span class="mr-2">
                      <i class="fas fa-circle text-danger"></i> UserPass
                    </span>
                        <span class="mr-2">
                      <i class="fas fa-circle text-info"></i> Twitter
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

