<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>GameSuite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="{% static "js/scrolling-nav.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>
    <script src="{% static "js/virtualjoystick.js" %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Teko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/scrolling-nav.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
</head>
<body>

<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-analytics.js"></script>
    <script src="{% static "js/twitter.js" %}"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyAMZWz9sXsN1RgDqtZBo75BttaqXjJE1o8",
    authDomain: "gamesuite-2a4b8.firebaseapp.com",
    databaseURL: "https://gamesuite-2a4b8.firebaseio.com",
    projectId: "gamesuite-2a4b8",
    storageBucket: "",
    messagingSenderId: "1093320706468",
    appId: "1:1093320706468:web:93938a40e6462273285931",
    measurementId: "G-X5J2Q54X9P"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
{% block body %}
{% endblock %}
</body>
<footer class="sticky-footer bg-light" style="position:fixed;bottom:0">
    <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>©GameCats</span>
          </div>
        </div>
</footer>
</html>