{% extends 'common/base.html' %}
{% block header %}
    <title>Home</title>
{% endblock %}
{% block body %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'fav.ico' %}"/>
    <script src="{% static "js/main.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-size: 36px" href="/">GameSuite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/account">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="img-loading" style="text-align: center;margin: 0 auto;">
        <img class='img-loading-src' src="{% static 'img/pawLoading.gif' %}"
             style="padding-top: 80px; width: 10%; height: 10%;">
    </div>
    <div id="game-contents" class="game-contents" style="text-align: center;padding-top: 50px; display: none">
        <div class="col-xl-4 col-lg-5" style="float: left">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div>
                        <a class="nav-link js-scroll-trigger" href="/football">Kickoff Return</a>
                        <p>Play as one of UC's return men and try to return the kickoff for a touchdown.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5" style="float: left">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div>
                        <a class="nav-link js-scroll-trigger" href="/soccer">PK Kick</a>
                        <p>Try to score as many penalty kicks as possible</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5" style="float: left">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div>
                        <a class="nav-link js-scroll-trigger" href="/basketball">Three Point</a>
                        <p>Make as many free throws as possible</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}