{% extends 'common/base.html' %}
{% block header %}
    <title>Home</title>
{% endblock %}
{% block body %}
    {% load static %}
    <script src="{% static "js/main.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-size: 36px" href="/">GameSuite</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px" href="/account">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="img-loading" style="text-align: center;margin: 0 auto;">
        <img class='img-loading-src' src="{% static 'img/pawLoading.gif' %}"
             style="padding-top: 80px; width: 10%; height: 10%;">
    </div>
    <div id="content-main-no-auth" style="text-align: center; padding-top: 50px; display: none">
        <row>
            <div class="col-xl-4 col-lg-5" style="margin: auto">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <row>
                            <h1>You are not signed in</h1>
                        </row>
                        <row>
                            <div class="auth-buttons" style="display: flex">
                                <div class="btn btn-block btn-outline-info" onclick="twitterSignin()"
                                     style="margin: 5px">
                                    <div style="display: inline-block; margin: 5px"><i class="fab fa-twitter"></i>Login
                                        via Twitter
                                    </div>
                                </div>
                                <div class="btn btn-block btn-outline-danger" data-toggle="modal"
                                     data-target="#auth-modal"
                                     style="margin: 5px">
                                    <p>Username/Password</p>
                                </div>
                            </div>
                        </row>
                    </div>
                </div>
            </div>
        </row>
    </div>
    <div class="modal fade" id="auth-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div id="create-account-modal-content" class="modal-content">
                <div class="modal-header">
                    <h4 style="float: left" class="modal-title" id="myModalLabel">Create Account</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        {% csrf_token %}
                        <div style="padding: 10px">
                            <input type="text" class="form-control form-control-user"
                                   autofocus required id="create_id_username" name="username"
                                   placeholder="Username">
                        </div>
                        <div style="padding: 10px">
                            <input type="text" class="form-control form-control-user"
                                   autofocus required id="create_id_email" name="username"
                                   placeholder="Email"
                                   pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/">
                        </div>
                        <div style="padding: 10px">
                            <input type="password" class="form-control form-control-user"
                                   autofocus required id="create_id_password" name="password"
                                   placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-primary btn-user btn-block" onclick="createNewUser()">
                            Create
                        </button>

                        <div style="margin: 5px 14px;">
                            <p style="float: left; font-size: 15px">Already have an account?</p>
                            <a data-toggle="modal-sign-in"
                               data-target="#auth-modal-sign-in" href="#" onclick="showSignIn()"
                               style="float: right; font-size: 15px">
                                Sign In
                            </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="auth-modal-sign-in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="float: left" class="modal-title" id="myModalLabel">Sign In</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div id="modal-sign-in-body" class="modal-body">
                        {% csrf_token %}
                        <div style="padding: 10px">
                            <input type="text" class="form-control form-control-user"
                                   autofocus required id="sign_in_id_email" name="username"
                                   placeholder="Email"
                                   pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/">
                        </div>
                        <div style="padding: 10px">
                            <input type="password" class="form-control form-control-user"
                                   autofocus required id="sign_in_id_password" name="password"
                                   placeholder="Password">
                        </div>
                        <button type="button" class="btn btn-primary btn-user btn-block" onclick="signInUser()">Login
                        </button>
                </div>
            </div>
        </div>
    </div>
    <div id="game-contents" class="game-contents" style="text-align: center;padding-top: 50px; display: none">
        <div class="col-xl-4 col-lg-5" style="float: left">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div>
                        <a class="nav-link js-scroll-trigger" href="/football">Kickoff Return</a>
                        <p>Play as one of UC's return men and try to return the kickoff for a touchdown.</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5" style="float: left">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div>
                        <a class="nav-link js-scroll-trigger" href="/soccer">PK Kick</a>
                        <p>Try to score as many penalty kicks as possible</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5" style="float: left">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div>
                        <a class="nav-link js-scroll-trigger" href="/basketball">Three Point</a>
                        <p>Make as many free throws as possible</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}