{% extends 'common/base.html' %}
{% block header %}
    <title>Leaderboard</title>
{% endblock %}
{% block body %}
    {% load static %}
    <script src="{% static "js/leaderboard.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/leaderboard.css" %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" style="font-size: 36px" href="/"><img src="{% static 'img/logo.png' %}" width="125px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px; color: #58595b" href="/leaderboard">Leaderboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" style="padding: 10px; color: #58595b" href="/account">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="img-loading" style="text-align: center; margin: 0 auto;">
        <img class='img-loading-src' src="{% static 'img/pawLoading.gif' %}"
             style="padding-top: 80px; width: 10%; height: 10%;">
    </div>
    <div class="main-leaderboard" id="main-leaderboard" style="text-align: center; padding-top: 50px; display: none">
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h1 data-toggle="collapse" data-target="#collapse-table-soccer"
                        aria-controls="collapse-table-soccer"
                        aria-expanded="false">PK Kick</h1>
                    <div data-toggle="collapse multi-collapse" id="collapse-table-soccer">
                        <table id="table-soccer" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Handle</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5" style="float: right; display: block">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h1 data-toggle="collapse" data-target="#collapse-table-football"
                        aria-controls="collapse-table-football"
                        aria-expanded="false">Field Goal</h1>
                    <div data-toggle="collapse multi-collapse" id="collapse-table-football">
                        <table id="table-football" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Handle</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h1 data-toggle="collapse" data-target="#collapse-table-basketball"
                        aria-controls="collapse-table-basketball"
                        aria-expanded="false">Basketball</h1>
                    <!--
                    Placeholder data
                    -->
                    <div data-toggle="collapse multi-collapse" id="collapse-table-basketball">
                        <table id="table-basketball" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Handle</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}