<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Kickoff Return</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <style type="text/css">
        {% load static %}
        body {
            margin: 0;
        }
    </style>
</head>
<body>

</body>
<script src="{% static "js/app.js" %}"></script>

<script>
    var field = "{% static "img/field.png" %}";
    var sprite = "{% static "img/tmpSprite.png" %}";
    var enemy = "{% static "img/UC_Sprite.png" %}";
</script>
</html>